.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    height: 100vmax;
}

button{
    border: 2px solid black;
    width: 150px;
    height: 100px;
    font-size: 28px;
    font-weight: bold;
    border-radius: 6px;
}

.pick{
    display: flex;
    gap: 18px;
    margin-bottom: 18px;
}

.display-results{
    font-size: 28px;
    font-weight: bold;
}

.clicked{
    background-color:darkgreen;
    transform: scale(1.1);
    transition: 0.07s;
}
